* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

#calculator{
    padding: 12px;
    width: 208px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#display{
    text-align: right;
    width: 100%;
    font-size: 2.5rem;
    color: #fff;
}

.row{
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: center;
}

button{
    width: 39px;
    height: 39px;
    font-size: 1.8rem;
    border-radius: 50%;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #666666;
}

button:active{
    background-color: #989898;
}


#equals{
    width: 100%;
    border-radius: 39px;
    background-color: #CCCCCC;
    color: #000;
}

#equals:active{
    background-color: #e9e9e9;
}

.operator{
    background-color: #FF8C00;
}

.operator:active{
    background-color: #ffb151;
}